#img-logo-navbar{
  position: fixed;
  right: 6rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  top: 5px;
  z-index: 1;
}

#logo-style{
  width: auto;
  height: 3rem;
}


#generic_inputs-policy_tabs{height:0px;}

.pull-right {
    float: right !important;
}

.inline label{
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.inline .form-group { display: table-row;}

.tippy-tooltip {
     font-size: 14px !important;
}

.radiobtn.disabled {
  text-align: left;
  padding-left: 10px;
  cursor: auto;
}

.radiobtn  {
  text-align: left;
  padding-left: 25px;
}

.hr-small-line {
  margin-top: 0px;
  margin-bottom: 0px;
}

